<style type="text/css">
    .tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
    .tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;word-break:normal;}
    .tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;word-break:normal;}
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 878px">
    <colgroup>
        <col style="width: 58.2px">
        <col style="width: 81.2px">
        <col style="width: 81.2px">
        <col style="width: 268.2px">
        <col style="width: 141.2px">
        <col style="width: 248.2px">
    </colgroup>
    <thead>
    <tr>
        <th class="tg-c3ow" colspan="6">출생신고서<br>(신고일:**)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-c3ow" rowspan="4">출<br>생<br>자</td>
        <td class="tg-c3ow" colspan="2">성명</td>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow">성별</td>
        <td class="tg-c3ow"></td>
    </tr>
    <tr>
        <td class="tg-c3ow" colspan="2">출생일시</td>
        <td class="tg-c3ow" colspan="3"></td>
    </tr>
    <tr>
        <td class="tg-c3ow" colspan="2">출생장소</td>
        <td class="tg-c3ow" colspan="3"></td>
    </tr>
    <tr>
        <td class="tg-c3ow" colspan="2">등록기준지<br>(본적)</td>
        <td class="tg-c3ow" colspan="3"></td>
    </tr>
    <tr>
        <td class="tg-c3ow" rowspan="2">부<br>모</td>
        <td class="tg-c3ow">부</td>
        <td class="tg-c3ow">성명</td>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow">주민등록번호</td>
        <td class="tg-c3ow"></td>
    </tr>
    <tr>
        <td class="tg-c3ow">모</td>
        <td class="tg-c3ow">성명</td>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow">주민등록번호</td>
        <td class="tg-c3ow"></td>
    </tr>
    <tr>
        <td class="tg-c3ow" rowspan="3">신<br>고<br>인<br><br></td>
        <td class="tg-c3ow" colspan="2">성명</td>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow">주민등록번호</td>
        <td class="tg-c3ow"></td>
    </tr>
    <tr>
        <td class="tg-c3ow" colspan="2">자격</td>
        <td class="tg-c3ow" colspan="3"></td>
    </tr>
    <tr>
        <td class="tg-c3ow" colspan="2">이메일</td>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow">전화번호</td>
        <td class="tg-c3ow"></td>
    </tr>
    </tbody>
</table>
</br>
</br>
<a href="/">주민목록</a>