<style type="text/css">
    .tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
    .tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;word-break:normal;}
    .tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;word-break:normal;}
    .tg .tg-baqh{text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 873px">
    <colgroup>
        <col style="width: 110.2px">
        <col style="width: 175.2px">
        <col style="width: 225.2px">
        <col style="width: 254.2px">
        <col style="width: 108.2px">
    </colgroup>
    <thead>
    <tr>
        <th class="tg-baqh" colspan="5">가족관계증명서<br>( 발급일 : ***, 증명서확인번호 : *** )</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-baqh" colspan="2">등록기준지<br>(본적)</td>
        <td class="tg-baqh" colspan="3"></td>
    </tr>
    <tr>
        <td class="tg-baqh">구분</td>
        <td class="tg-baqh">성명</td>
        <td class="tg-baqh">출생연월일</td>
        <td class="tg-baqh">주민등록번호</td>
        <td class="tg-baqh">성별</td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    </tbody>
</table>