<style type="text/css">
    .tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
    .tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;word-break:normal;}
    .tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;word-break:normal;}
    .tg .tg-baqh{text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 839px">
    <colgroup>
        <col style="width: 88.2px">
        <col style="width: 133.2px">
        <col style="width: 156.2px">
        <col style="width: 158.2px">
        <col style="width: 154.2px">
        <col style="width: 149.2px">
    </colgroup>
    <thead>
    <tr>
        <th class="tg-baqh" colspan="6">주민등록등본<br>( 발급일 : ** , 증명서확인번호 : *** )</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="tg-baqh" colspan="2">세대주 성명</td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh">세대구성<br>사유 및 일자</td>
        <td class="tg-baqh" colspan="2"></td>
    </tr>
    <tr>
        <td class="tg-baqh" colspan="4">주소</td>
        <td class="tg-baqh" colspan="2">신고일</td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh" colspan="3"></td>
        <td class="tg-baqh" colspan="2"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh" colspan="3"></td>
        <td class="tg-baqh" colspan="2"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh" colspan="3"></td>
        <td class="tg-baqh" colspan="2"></td>
    </tr>
    <tr>
        <td class="tg-baqh">세대주<br>관계</td>
        <td class="tg-baqh">성명</td>
        <td class="tg-baqh" colspan="2">주민등록번호</td>
        <td class="tg-baqh">신고일</td>
        <td class="tg-baqh">변동사유</td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh" colspan="2"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh" colspan="2"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh" colspan="2"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    <tr>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh" colspan="2"></td>
        <td class="tg-baqh"></td>
        <td class="tg-baqh"></td>
    </tr>
    </tbody>
</table>