<style type="text/css">
    .tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
    .tg td{background-color:#fff;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 20px;word-break:normal;}
    .tg th{background-color:#f0f0f0;border-color:#ccc;border-style:solid;border-width:1px;color:#333;
        font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 20px;word-break:normal;}
    .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
</style>
<table class="tg" style="undefined;table-layout: fixed; width: 876px">
    <colgroup>
        <col style="width: 109.2px">
        <col style="width: 137.2px">
        <col style="width: 145.2px">
        <col style="width: 137.2px">
        <col style="width: 135.2px">
        <col style="width: 137.2px">
        <col style="width: 75.2px">
    </colgroup>
    <thead>
    <tr>
        <th class="tg-c3ow">이름</th>
        <th class="tg-c3ow">주민등록등본</th>
        <th class="tg-c3ow">가족관계증명서</th>
        <th class="tg-c3ow">출생신고서</th>
        <th class="tg-c3ow">사망신고서</th>
        <th class="tg-c3ow">발급목록</th>
        <th class="tg-c3ow">삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="resident, iterStat : ${residentList}">
        <td class="tg-c3ow" th:text="${resident.name}"></td>
        <td class="tg-c3ow"><a href="http://localhost/" target="_blank" rel="noopener noreferrer">주민등록등본</a></td>
        <td class="tg-c3ow"><a th:href="@{/familyRelationCertification/{num}(num=${resident.residentSerialNumber})}" target="_blank" rel="noopener noreferrer">가족관계증명서</a></td>
        <td class="tg-c3ow"><a th:href="@{/birthReporter/{num}(num=${resident.residentSerialNumber})}" target="_blank" rel="noopener noreferrer">출생신고서</a></td>
        <td class="tg-c3ow"></td>
        <td class="tg-c3ow"><a href="http://localhost:8080/" target="_blank" rel="noopener noreferrer">발급목록</a></td>
        <td class="tg-c3ow"></td>
    </tr>
    </tbody>
</table>